[user]
	name = Tim Crone
	email = tjcrone@gmail.com

[push]
	default = simple

[alias]
	wdiff = diff --color-words
	lg = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit
	caa = commit -a --amend -C HEAD

[color "diff"]
	meta = white bold
	frag = blue bold
	old = red bold
	new = green bold

[core]
attributesfile = ~/.gitattributes_global

[filter "nbstrip"]
clean = "jq --indent 1 \
        '(.cells[] | select(has(\"outputs\")) | .outputs) = []  \
        | (.cells[] | select(has(\"execution_count\")) | .execution_count) = null  \
        | .metadata = {\"language_info\": {\"name\": \"python\", \"pygments_lexer\": \"ipython3\"}} \
        | .cells[].metadata = {} \
        '"
smudge = cat
required = true
